body {
    background-color:coral;
    color: aliceblue;
    font-family: "Playpen Sans", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: bisque;
    color: azure;
    font-family: "Playpen Sans", cursive;
}
.passo {
    display: none;
}
.passo.ativo {
    display: block;
}
main{
    max-width: 90%;
    text-align: center; 
}
img {
    max-width: 90%;
    
}